<div class="container mx-auto mt-16 p-4 flex flex-col items-center justify-center">
    <h1 class="font-bold text-4xl text-center mb-8">Profile</h1>
    <div class="border p-4 mb-4 text-center max-w-md w-full  border rounded-lg shadow-md bg-blue-50">
      <h2 class="text-2xl font-semibold"><%= @user.first_name %> <%= @user.last_name %></h2>
      <p class=" "><%= @user.email %></p>
      <p>Role: <%= @user.role %></p>
      <% if @user.condo %>
        <p>Condo: <%= @user.condo.name %></p>
      <% end %>
      <% if @user.all_related_units.present? %>
        <% @user.all_related_units.each do |unit| %>
          <p>Unit: <%= unit.unit_number %> (Floor: <%= unit.floor %>)</p>
        <% end %>
      <% end %>
    </div>
    <div class="flex flex-col sm:flex-row justify-center items-center gap-4 max-w-md w-full">
      <% if user_signed_in?%>
      <div class="flex flex-row items-center gap-2 border border-blue-200 p-4 mb-4 rounded-lg w-full justify-center">
        <%= heroicon "pencil-square", options: { class: "w-4 h-4 mr-2 text-blue-600" } %>
        <% if current_user.superadmin? %>
          <% if current_user == @user %>
            <%= link_to 'Edit Account', edit_user_registration_path, class: "text-blue-600 hover:underline" %>
          <% else %>
            <%= link_to 'Edit Account', edit_user_path(@user), class: "text-blue-600 hover:underline" %>
          <% end %>
        <% else %>
         <%= link_to 'Edit Account', edit_user_path(@user), class: "text-blue-600 hover:underline" %>
        <% end %>
      </div>
    
    <% if current_user == @user %>
      <div class="flex flex-row items-center gap-2 border border-blue-200 p-4 mb-4 rounded-lg w-full justify-center">
        <%= heroicon "minus-circle", options: { class: "w-4 h-4 mr-2 text-blue-600" } %>
         <%= form_with url: destroy_user_session_path, method: :delete, local: true do |f| %>
           <%= f.submit 'Log out', class: "text-blue-600 hover:underline bg-transparent border-none cursor-pointer" %>
         <% end %>
       </div>
      <% end %>
    </div>      
    <% end %>


</div>
