<div class="mb-12">
  <h1 class="font-bold text-4xl mb-4"> All Facilities</h1>
  <h1 class="mb-4"><%= @facilities.count %> In total</h1>
  <%= form_with url: facilities_path, method: :get, local: true, class: "mb-6 border border-blue-500 rounded flex justify-between px-4 shadow-md w-full" do |f| %>
    <input type="text" name="search" value="<%= params[:search] %>" placeholder="Search for facility by name, description or condo name" style="width: 90%;" class="rounded px-2 py-1 bg-white focus:bg-white focus:outline-none focus:ring-0 focus:border-blue-200 border border-blue-200" />
    <button type="submit" class=" " >
      <%= heroicon "magnifying-glass", options: { class: "w-4 h-4 inline-block mr-2 text-blue-600" } %>
      Search
    </button>
  <% end %>
  
  <div class="flex flex-wrap gap-4">
    <% @facilities.each do |facility| %>
      <div class="m-2 p-2 border border-green-200 rounded">
        <h1 class="text-2xl"> <strong> <%= link_to facility.name, facility_path(facility) %></strong></h1>
        <p class="flex items-center">
          <%= heroicon "map-pin", options: { class: "w-4 h-4 inline-block mr-2" } %>
          <%= facility.condo.name %>
        </p>
        <% if facility.floor.present? %>
          <p class="flex items-center">
            <%= heroicon "building-office-2", options: { class: "w-4 h-4 inline-block mr-2" } %>
            Floor: <%= facility.floor %>
          </p>
        <% end %>
        <p class="flex items-center">
          <%= heroicon "chat-bubble-bottom-center-text", options: { class: "w-4 h-4 inline-block mr-2" } %>
          <%= facility.description %>
        </p>
        <div class="">
         <%= form_with url: facility_path(facility), method: :delete, local: true do |f| %>
          <%= heroicon "minus-circle", options: { class: "w-4 h-4 inline-block mr-2 text-blue-600" } %>
           <%= f.submit 'Delete', class: " text-blue-600 cursor-pointer" %>
         <% end %>
       </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'New Facility', new_facility_path, class: 'mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded' %>
</div>

<style>
input:focus {
  background-color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: #bfdbfe !important; /* blue-200 */
}
</style>
