<header style="background-color: rgba(63, 200, 254, 0.51); color: black; padding: 20px; position: fixed; top: 0; left: 0; right: 0; z-index: 50; border-radius: 50px; margin: 10px 20px 0px 20px; backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(12px);">
  <div style="display: flex; gap: 20px; justify-content: center; align-items: center; text-black">

    <%# these roles are for everyone %>
    <%= link_to root_path, class: 'text-black no-underline' do %>
      <i class="fas fa-home text-black"></i>
    <%end%>
    <%= link_to facilities_path, style: 'text-black no-underline' do %>
      <i class="fa-solid fa-table-tennis-paddle-ball"></i>
    <% end %>
    
    <%= link_to users_path, style: 'text-black no-underline' do%>
      <i class="fa-solid fa-people-group"></i>
    <% end %>

    <%= link_to "#", style: 'color: black; text-decoration: none;' do %>
      <i class="fa-solid fa-building"></i>
    <% end %>
    <%= link_to units_path, style: 'color: black; text-decoration: none;' do %>
      <i class="fa-solid fa-house-user"></i>
    <% end %>

    <%# these roles are just for admin %>
    <% if current_user && %w[super_admin admin].include?(current_user.role) %>
          <%= link_to "#", style: 'color: black; text-decoration: none;' do %>
            <i class="fa-solid fa-list-check"></i>
          <% end %>
    <% end %>
    
    <%# The following buttons will be displayed depending on your login status  %>
    <% if user_signed_in? %>
      <%= link_to "#", style: 'text-black no-underline' do %>
        <i class="fa-solid fa-comment-dots"></i>
      <% end %>      
      <%= link_to user_path(current_user), style: 'color: black; text-decoration: none;' do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    <% else %>
        <%= link_to new_user_session_path, style: 'color: black; text-decoration: none;' do %>
          <i class="fa-solid fa-right-to-bracket"></i>
        <% end %>
    <% end %>  

    <%# Display current loggin role %>
    <p class="hidden md:block">[r]<%= current_user.role if current_user  %></p> 
    </div>


  </header>
